.stage-preview {
  position: relative;
}

.stage-preview .task {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  font-size: 1.4rem;
  display: inline-flex;
  justify-content: space-between;
}

.complete-preview .task span {
  background-color: #000000;
  padding: 2px;
  color: #fff;
}

.loading {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.retry-icon {
  width: 48px;
  height: 48px;
  color: #999999;
  transition: color 300ms ease-in;
}

.retry-icon:hover {
  color: #202020;
}

.action-icon {
  width: 24px;
  height: 24px;
}

.center-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-icon svg {
  width: 48px;
  height: 48px;
}

.upload-icon svg path:first-of-type {
  stroke: black;
}

.upload-icon svg path:nth-of-type(2) {
  fill: black;
}
