.accomodation {
  margin-top: 64px;
}

.accomodation-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  max-width: 628px;
  margin-inline: auto;
}

.accomodation__input-label,
.accomodation-input__wrapper legend {
  font-size: 1.8rem;
}

.accomodation-input__wrapper p {
  font-size: 1.4rem;
  margin-block: 10px;
}

.accomodation-input__wrapper {
  text-align: start;
}

.accomodation-input__wrapper input,
.accomodation-input__wrapper textarea {
  display: inline-block;
  width: 100%;
  padding: 1.6rem 1rem;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 10px;
}

.accomodation-input__wrapper textarea {
  resize: none;
  outline: none;
}

.accomodation-input__wrapper input,
.accomodation-input__wrapper input::placeholder {
  font-size: 1.4rem;
}

.image-link-upload {
  display: flex;
  column-gap: 2rem;
}

.image-link-upload button {
  background-color: #e2e2e2;
  border: none;
  font-size: 1.4rem;
  border-radius: 5px;
}

.image-file-upload {
  margin-top: 2rem;
}

.image-file-upload > input {
  display: none;
}

.image-file-upload button {
  border: 2px solid rgb(194, 194, 194);
  font-size: 2.4rem;
  background-color: #fff;
  padding: 2rem 4rem;
  border-radius: 10px;
  cursor: pointer;
}

.features {
  font-size: 1.4rem;
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.image-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 1rem;
}

.preview-image {
  border-radius: 10px;
  overflow: hidden;
}

.preview-image img {
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 568px) {
  .image-box {
    grid-template-columns: repeat(3, 1fr);
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .image-box {
    grid-template-columns: repeat(4, 1fr);
  }
  .features {
    grid-template-columns: repeat(3, 1fr);
  }
}

.features input {
  padding: 0;
  width: auto;
}

.features > div {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 0.5rem;
  border: 2px solid #e2e2e2;
  padding: 2rem 1rem;
  width: 100%;
  border-radius: 10px;
}

.features label {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}

.features label:first-child {
  margin-right: auto;
}

.features label span:first-child {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.extra-info__wrapper {
  margin-top: 3rem;
}

.check-in-out-wrapper label {
  font-size: 1.4rem;
}

.accomodation-input__wrapper fieldset {
  outline: none;
  border: none;
}

.check-in-out-input-box {
  display: flex;
  column-gap: 2rem;
}

.check-in-out-input-box > div {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.8rem;
  flex-grow: 1;
}

.accomodation-form button[type='submit'] {
  display: block;
  width: 100%;
  padding: 1.6rem 3rem;
  background: var(--dls19-brand-color);
  border: none;
  font-size: 1.6rem;
  color: white;
  border-radius: 5px;
  margin-top: 24px;
}
